*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Simonetta', cursive;
}

.hr{
  color: #01bf71;
  background: #01bf71;
  align-items: center;
  
  /* border-top: 1px dashed #01bf71; */
}

.donwloadicon{
  margin: 0 8px 0 0;
  color: #000000;
  flex-direction: column;
}

/* styling btn */

/* .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
} */

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
} */

/* .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */
